# Logistic Regression Model

In [9]:
# Model to predict that any bank customer is churn or  not
import pandas as pd
df=pd.read_csv('Bankdata.csv')

df=df.dropna() # dropping null values.........................
Y=df['churn']  # Extracting dependent feature or target variable  

df=df.drop(['churn','last_transaction','customer_id','customer_nw_category','gender','branch_code','city','dependents','occupation'],axis=1)
df.head(3)    # all are independent variables

,vintage,age,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
0,2101,66,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71
2,2194,31,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14
4,1579,42,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16

In [17]:
# feature scaling of independent features.......................
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
X=scalar.fit_transform(df)
X[0] , Y[:5]

(array([ 0.03921022,  1.07809129, -0.26033104, -0.25651669, -0.27398341,
        -0.27816247, -0.04290757, -0.10945603, -0.06779338, -0.14067701,
        -0.26926159, -0.25588308]),
 0    0
 2    0
 4    1
 5    0
 6    0
 Name: churn, dtype: int64)

In [6]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test= tts(X,Y,test_size=0.2)         # splitting train and test data
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((19865, 12), (4967, 12), (19865,), (4967,))

In [7]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import precision_score, recall_score
classifier=LR()
classifier.fit(x_train,y_train)    # training  the model
y_pre=classifier.predict(x_test)   # predicting the target variable

precision_score(y_test,y_pre)*100   # calculating percetage of positive predictions

72.61904761904762